@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
:root {
    height: 100%;
    scrollbar-width: none
}

/* Chrome, Safari, Edge, and Opera */
&::-webkit-scrollbar {
    display: 'none',
}
